[Unit]
Description=Enable SSH Service
After=network.target

[Service]
Type=forking
User=root
ExecStart=/usr/sbin/sshd -D
Restart=always

[Install]
WantedBy=multi-user.target